# ==========================
# Spot the Fake Photo
# SalesCode AI Assignment
# ==========================

# Core Numerical Computing
numpy>=2.2.0

# Computer Vision
opencv-python>=4.11.0

# Image Processing
Pillow>=11.0.0
scikit-image>=0.25.0

# Scientific Computing
scipy>=1.15.0

# Evaluation
scikit-learn>=1.7.0

# Visualization & Experimentation
matplotlib>=3.10.0
jupyter>=1.1.0

# Utilities
tqdm>=4.67.0

joblib>=1.5.0
pandas>=2.3.0

xgboost>=3.0.2
catboost>=1.2.8